/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 3;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: black;
  color: #ffffff;
  border-radius: 4px;
}
nav a:hover {
  color: white;
  background-color: #a7d129;
}
nav a.active {
  background-color: black;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/